body {
	font-family: "OCRB",monospace;
	margin:0px;
	letter-spacing: -0.01em;
	background-image: url(media/background.jpg);
	background-size: cover;
	background-position: center;
	color: #e3e3e3;
}

.history p {
	text-indent: 2em;
}

.links p {
	text-indent: 2em;
}

.contents {
	background-color: rgba(33,33,33,0.4);
}

.narrowfont {
	letter-spacing: -0.07em;
}

a:link {
	color: #47acd5;
}

a:visited {
	color: #47acd5;
}





.header {
	display: block;
	background-color: rgba(50,50,50,0.6);
	height: 90px;
	border-bottom: 1px solid #323232;
}

.header-logo {
	font-size: 36px;
	float: left;
	padding: 20px 40px;
}

.header-list {
	color: #f0f0f0;
	float: left;
}

.header-list li {
	list-style: none;
	float: left;
	/*padding: 30px 20px;*/
}

.topmenu {
	padding: 30px 20px;
	float: left;
}





.main {
	margin: 0px 30px;
	padding: 10px 40px;
	border-left: 1px solid #808080;
	border-right: 1px solid #808080;
	line-height: 1.0em;
}

.acusername {
	font-family: sans-serif;
	color: blue;
	letter-spacing: 0.00em;
	font-weight: bold;
}

.cfusername {
	font-family: "Helvetica Neue", Helvetica, Arial, monospace;
	color: #a0a;
	letter-spacing: 0.00em;
	font-weight: bold;
}

.profile{
	/*padding-bottom: 8px;*/
}

.profile ul li{
	padding-bottom:5px;
}

.header-logo a:link {
	color: #f0f0f0;
	text-decoration: none;
}

.header-logo a:visited {
	color: #f0f0f0;
	text-decoration: none;
}

.header-logo a:hover {
	color: #c6ffff;
	text-decoration: none;
}

.header-list li a:link {
	color: #f0f0f0;
	text-decoration: none;
}

.header-list li a:visited {
	color: #f0f0f0;
	text-decoration: none;
}

.header-list li a:hover {
	color: #c6ffff;
	text-decoration: none;
}



.footer {
	display: block;
	background-color: rgba(50,50,50,0.6);
	height: 120px;
	padding: 40px;
	border-top: 1px solid #323232;
}

.footer-logo {
	float: left;
	font-size: 32px;
}

.footer-list {
	float: right;
}

.footer-list li {
	padding-bottom: 20px;
	list-style: none;
}

.footer-logo a:link {
	color: #f0f0f0;
	text-decoration: none;
}

.footer-logo a:visited {
	color: #f0f0f0;
	text-decoration: none;
}

.footer-logo a:hover {
	color: #c6ffff;
	text-decoration: none;
}


