<?xml version="1.0" encoding="utf-8"?>

<!-- web.config 螟画鋤縺ｮ菴ｿ逕ｨ譁ｹ豕輔・隧ｳ邏ｰ縺ｫ縺､縺・※縺ｯ縲”ttps://go.microsoft.com/fwlink/?LinkId=125889 繧貞盾辣ｧ縺励※縺上□縺輔＞ -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    谺｡縺ｮ萓九〒縺ｯ縲・MyDB" 縺ｨ縺・≧蛟､繧呈戟縺､ "name" 螻樊ｧ縺・"Match" 繝ｭ繧ｱ繝ｼ繧ｿ繝ｼ縺ｧ
    隕九▽縺九▲縺溷ｴ蜷医↓縺ｮ縺ｿ縲・SetAttributes" 螟画鋤縺ｫ繧医▲縺ｦ "connectionString" 縺ｮ
    蛟､縺・"ReleaseSQLServer" 繧剃ｽｿ逕ｨ縺吶ｋ繧医≧縺ｫ螟画峩縺輔ｌ縺ｾ縺吶・
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <!--
      
      谺｡縺ｮ萓九〒縺ｯ縲『eb.config 繝輔ぃ繧､繝ｫ縺ｮ <customErrors> 繧ｻ繧ｯ繧ｷ繝ｧ繝ｳ蜈ｨ菴薙′ 
      "Replace" 螟画鋤縺ｫ繧医▲縺ｦ鄂ｮ縺肴鋤縺医ｉ繧後∪縺吶・
      <system.web> 繝弱・繝峨↓縺ｯ customErrors 繧ｻ繧ｯ繧ｷ繝ｧ繝ｳ縺・1 縺､縺励°縺ｪ縺・◆繧√・
      "xdt:Locator" 螻樊ｧ繧剃ｽｿ逕ｨ縺吶ｋ蠢・ｦ√・縺ゅｊ縺ｾ縺帙ｓ縲・
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    >
    -->
  </system.web>
</configuration>
